[alias]
	co = checkout
	graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
  st = status
  sw = switch
[push]
	default = matching
[core]
	editor = vim
	excludesfile = /Users/gates1de/.gitignore_global
[user]
	email = g031i043@gmail.com
	name = gates1de
[commit]
	template = /Users/gates1de/.commit_template
[init]
	defaultBranch = main
